<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :badge_title %>
  </p>

  <p>
    <%= form.label :description %> 
    <%= form.text_field :description, id: :badge_description %>
  </p>

  <p>
    <%= form.label :image_name %>
    <%= form.text_field :image_name, id: :badge_image_name %>
  </p>
  <p>
    <%= form.label :rule %>
    <%= form.select :rules, options_for_select(badge_rules) %>
  </p>
  <p>
    <%= form.label :value %>
    <%= form.text_field :value, id: :badge_rule %>
  </p>
  <p>
    <%= form.label :first_attempt %>
    <%= form.check_box :first_attempt, id: :badge_first_attempt %>
  </p>
  <p>
    <%= form.label :status %>
    <%= form.check_box :status, id: :badge_status %>
  </p>

  <p><%= form.submit t('.submit')%></p>
<% end %>
