<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <%= @badge.description %>
  <p><%= t('.status') %>:</p>
  <p>
    <%= form.label :status %>
    <%= form.check_box :status, id: :badge_status %>
  </p>

  <p><%= form.submit t('.submit')%></p>
<% end %>
