<h1><%= t('admin.shared.badges') %></h1>
<%= link_to t('.new'), new_admin_badge_path %>

  <title>table-layout</title>
  <style>
   table {
    /*table-layout: fixed; /* Фиксированная ширина ячеек */
    width: 60%; /* Ширина таблицы */
   }
  </style>

<table>
  <thead>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.description') %> </th>
    <th><%= t('.image') %></th>
    <th><%= t('admin.shared.status') %></th>
    <th colspan="3"><%= t('.reference') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render @badges %>
  </tbody>
</table>

<%= link_to t('admin.shared.back'), admin_tests_path %>      
