<h1><%= t('.header', title: @test_passage.test.title) %> </h1>

<% if @test_passage.success? %>
  <p>
    <%= t('.result') %> <span class="success"><%= @test_passage.percent_correct.floor %></span>%. <%= t('.success')%>
  </p>
<% else %>
  <p>
    <%= t('.result') %> <span class="fail"><%= @test_passage.percent_correct.floor %></span>%. <%= t('.fail') %>
  </p>
<% end %>
<%= link_to t('.link_back'), tests_path %>
