<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <p>
    <%= form.label :status %>:
    <%= form.check_box :status, id: :badge_status %>
  </p>

  <p><%= form.submit %></p>
<% end %>
