<h3>
  <%= t('.header') %> "<%= @question.test.title %>": 
<p>
  <%= @question.body %>
</p>
</h3>

<p>
  <%= link_to t('.edit_question'), edit_admin_question_path(@question) %>
</p>

<h3><%= t('.answers') %></h3>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>
<p>
 <%= link_to t('admin.shared.back'), admin_test_path(@question.test) %>
</p>
