<p>
  <strong><%= t('.test') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<strong><%= t('.questions') %>:</strong>
<table>
<%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>
<%= link_to t('.edit_test'), edit_admin_test_path(@test) %>
<%= link_to t('admin.shared.new_question'), new_admin_test_question_path(@test) %>
<%= link_to t('admin.shared.back'), admin_tests_path %>
