<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category_id %></td>
  <td><%= test.author_id %></td>
  <%= link_to 'Show', test_path(test) %>
  <%= link_to 'Edit', test_path(test) %>

