<div class="row justify-content-center mt-3">
  <div class="col col-md-4"><h1><%= t('.header') %></h1></div>
  <div class="col-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="sort-by-title pointer">
          <%= t('shared.index.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t('shared.index.level') %></th>
        <th><%= t('shared.index.category') %></th>
        <th><%= t('shared.index.author') %></th>
        <th><%= t('shared.index.number') %></th>
        <th><%= t('shared.index.timer') %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @tests %>
      </tbody>
    </table>
    <p><%= link_to t('badges.index.head'), badges_path %></p>
    <p><%= link_to t('badges.my.head'), my_badges_path %></p>
  </div>
</div>
