<p>
  <strong>Test</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Test question:</strong>
  <%=  @questions.pluck(:body)#render %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %>
<%= link_to 'Back', tests_path %>


